<% form_tag session_path do -%>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->
<%= image_tag "icon-openid.png" %>
<p><%= text_field_tag "openid_url", "http://",:class => "login-openid" %> </p>

<p class="eg">                                                    
e.g.<br>                                                          
Flickr: http://www.flickr.com/photos/yourname<br>                 
Blogger: http://yourblog.blogspot.com<br>                         
ClaimID: http://claimid.com/yourname<br>                          
</p> 
<p><%= submit_tag 'SIGN IN',:class =>"login-submit" %></p>
<% end -%>

