<div id="message">
  <%= text @message %>
</div>

<% form_remote_tag :url => { :action => controller.action_name } do %>
  <div>
    <%= hidden_field "chatroom", "id" %>
    <dl>
      <dt><%= _"Title" %></dt>
      <dd>
        <%= text_field "chatroom", "title" %>
      </dd>

      <dt><%= _"Description" %></dt>
      <dd>
        <%= text_area "chatroom", "description" %>
      </dd>
    </dl>
    <%= submit_tag _("Save") %>
  </div>
<% end %>

