<% form_tag :action => "login" do %>

    <%= image_tag "icon-openid.png" %>
    <p><% text_field :openid, :url, :size => 20, :class => "login-openid" %></p>
    <p><input type="text" name="openid_url" size="20" class="login-openid" /></p>

    <p class="eg">
	e.g.<br>
	Flickr: http://www.flickr.com/photos/yourname<br>
	Blogger: http://yourblog.blogspot.com<br>
	ClaimID: http://claimid.com/yourname<br>
    </p>

    <%= submit_tag "SIGN IN", :class => "login-submit" %>
<% end %>

