<p> 
  <%= link_to _("&larr; Back to %s's profile") % @user.shortname, :action=>"show", :id=>@user.id %>
</p>

<h2><%= _("Latest Stories by %s") % @user.shortname %></h2>

<%= render :partial => 'story/stories' %>
