body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1030px;
    min-height: 700px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#left-wrap {
    width: 120px;
    background: url(../../images/left-wrap.png) top repeat;
    min-height: 700px;
    margin: 0;
}

#center-wrap {
    padding: 0;
    margin: 0;
    width: 760px;
    background: #2fcc24;
}

#right-wrap {
    width: 120px;
    background: url(../../images/right-wrap.png) top repeat;
    min-height: 700px;
    margin: 0;
    padding: 0;
}

#hd {
    width: 780px;
}

#left-head, #right-head {
    height: 270px;
    margin: 0;
    padding: 0;
}

#left-head {
    background: url(../../images/left-head.png) top left no-repeat;
    width: 380px;
}

#right-head {
    background: url(../../images/right-head.png) top left no-repeat;
    width: 380px;
}

#bd {
    background: url(../../images/bd.png) top left repeat;
    min-height: 500px;
}

#ft {
    background: url(../../images/ft.png) top left no-repeat;
    min-height: 200px;
}
