<div id="ft">
    <ul>
        <li> <%= link_to _("About Chatlino"), :controller => "about" %> </li>
        <li> <%= link_to _("Privacy"), :controller => "about", :action => "privacy" %></li>
        <li> <%= link_to _("Terms of Service"), :controller => "about", :action => "terms" %></li>
        <li> <%= link_to _("Feedback"), :controller => "feedback" , :id => "feedback" %></li>
        <li> <%= link_to _("Help"), :controller => "service", :action => "help" %></li>
    </ul>
</div>
