<div id="ft">
    <div id="policy" class="span-20">
	<div class="span-4 copyright">copyright © 2008 Chatlino</div>
	<div class="span-12 link">
	    <%= link_to _("About Chatlino"), about_path %> |
	    <%= link_to _("Contact"), contact_path %> |
	   
	    <%= link_to _("Help"), help_path %> |
	    <%= link_to _("Term of Service"), tos_path %> |
	    <%= link_to _("Privacy"), privacy_path %>
	</div>
    </div>
</div>
