<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Chatlino</title>
    <%= stylesheet_link_tag "blueprint/screen" %>
    <%= stylesheet_link_tag "main" %>

    <%= javascript_include_tag "prototype","effects","controls" %>
    <%= javascript_include_tag "juggernaut/swfobject", "juggernaut/juggernaut","application" %>
    <%= javascript_include_tag "jsan/JSAN", "jsan/DOM/Ready", "jsan/DOM/Events", "jsan/Effect/RoundedCorners" %>
    <%= javascript_include_tag "jsan/Asynapse/Emoticon", "jsan/Widget/Lightbox", "json" %>
    <%= javascript_include_tag "chatroom" %>

  </head>
  <body class="room">
    <%= juggernaut :client_id => current_user.login, :channels => [ "chat.#{@chatroom.id}" ], :debug => false %>
    <div id="container" class="room">
      <div id="hd" class="room">
	<div class="system">

          <% class_name = ( logged_in? ) ? "" : "signin-link"%>
          <% if logged_in? %>
          <div class="signout"><%= link_to (_"Logout"), logout_path %></div>
          <% end %>
	  <div class="setting">Setting</div>
	</div>
      </div>
      <div id="bd" class="room">
        <%= yield %>
      </div>
      <div id="ft" class="room"></div>
    </div>
  </body>
</html>

